html {
    background-color: lightgrey;;
}

.dude {  /* find in index_css.html  */
    text-transform: uppercase;
    font-family: Monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: underline wavy #0f5679; /* <  This is the shorthand version */
    /*
    text-decoration: underline;        < This is the longhand version
    text-decoration-style: wavy;
    text-decoration-color: #0f5679; 
    */
}

/* property values for text-shadow left to right - shift right(px) shift down(px) blur(px) color  */
h3,li,header,h1 {
    text-shadow: 2px 4px 4px rgb(90, 90, 90);
}

h1 {
    text-align: center;
    font-size: 4em; /* We will learn later the benefit to using this instead of pixels */
    color:#1d3557;
}

.cheetah_pic {
    text-align: center;
    background-color: #1d3557;
}

/* h3 {
    text-decoration: underline;
    text-decoration-style: wavy;
} */

#et,#tax,#p_e,#gen,#breed {
    text-decoration: underline;
}

ol ul {     /* Applied the CSS below to all UL's nested inside OL's  */
    color: red;
    font-size: 18px;
    font-weight: 500;
}

.list1,.header {
    line-height: 1.5;
/* font-family: priority, 2nd priority, 3rd priority, 4th priority; */
    font-family: monospace;
}

.header {
    /* position: fixed; */
    text-align: center;
    /* font-weight: bold; */
}

/* Below we can change all our anchor tags to have no underline  */
a {
    text-decoration: none;
    font-weight: 600;
}

table td {
    text-align: center;
}

p {
    line-height: 1.5;
    letter-spacing: .3px;
    font-size: 14px;
    font-family: monospace;
    font-weight: 500;
    color: #1d3557;
}

.h2 { /* h2 element is a BLOCK ELEMENT, thus you'll notice the background color spans the entire width of the page */
    color: #ce2b08;
    background-color: #0f5679;
}

.h1 {
    color: #999;
}

.bod {
    background-color: bisque;
}

.p1 {
    color: #c5e;
    background-color: RGB(236, 172, 29);
}

.but {
    background-color: palegreen;
    color: blue;
}

span.number {
    color: red;
}

.feet {
    text-align: center;
}

/* applies a border to the table */
table,th,td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1259px;
    table-layout: fixed;
}

th {
    font-size: 18pt;
    background-color: teal;
}

.cheetah1,.cheetah2,.cheetah3,.cheetah4 {
    width: 300px;
}

/* use  CTRL + K , CTRL + C  to comment out a selected section of code  */
.map1,.map2,.map3,.map4 {
    height: 250px;
}

.contact_body,.contact.list {
    text-align: center;
}

.btt_footer {
    text-align: center;
}

button {
    background-color: #0f5679;
    color:whitesmoke;
}

/* .top_bar {
    position: fixed;
} */