html {
    background-color: lightgrey;
}

/* property values for text-shadow left to right - shift right(px) shift down(px) blur(px) color  */
h3,li,header,h1 {
    text-shadow: 2px 4px 4px gray;
}

.header {
    text-align: center;
}

.h2 { /* h2 element is a BLOCK ELEMENT, thus you'll notice the background color spans the entire width of the page */
    color: #ce2b08;
    background-color: #0f5679;
}

.h1 {
    color: #999;
}

.bod {
    background-color: #000;
}

.p1 {
    color: #c5e;
    background-color: RGB(236, 172, 29);
}

.but {
    background-color: palegreen;
    color: blue;
}

span.number {
    color: red;
}

.feet {
    text-align: center;
}

/* applies a border to the table */
table,th,td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1500px;
    table-layout: fixed;
}

th {
    font-size: 18pt;
    background-color: teal;
}

.cheetah1,.cheetah2,.cheetah3,.cheetah4 {
    width: 300px;
}

/* use  CTRL + K , CTRL + C  to comment out a selected section of code  */
.map1,.map2,.map3,.map4 {
    height: 250px;
}

.contact_body,.contact.list {
    text-align: center;
}

.btt_footer {
    text-align: center;
}

button {
    background-color: #0f5679;
    color:whitesmoke;
}